<content>
    <h1><span id='banks'>{{blanks}}</span><span id='remaining'> Guesses Remaining: {{remaining}}</span></h1>
    <div id="keys">
        <form action="/" method="post" id="1">
            <input type="text", name="guess"> <button type="submit" form="1" value="submit">New Game</button>
        </form>
    </div>
    <div id="typed">
        <h5>Characters Typed: {{chars}}</h5>
    </div>
</content>