<content>
    <h1><span id='banks'>The word was "{{word}}"</span></h1>
    <div id="keys">
        <form action="/new" method="post" id="1">
             You lose! <button type="submit" form="1" value="submit">New Game</button>
        </form>
    </div>
</content>